/* Styles for the Site Info Page */
.info-header {
  color: white;
  margin-top: 0px;
  padding-top: 20px;
}

#backgroundWrapper {
  background-image: url(../img/computer.jpg);
  background-size: cover;
  background-position: center;
  height: 100%;
}
