/* Styles for all pages of site*/
body{
  overflow-x: hidden;
}

.card {
	padding: 10px 10px;
  background-color: rgba(255, 255, 255, 0.72) !important;
  transition: background-color .5s ease-in, box-shadow .5s;
}

.center {
	text-align: center;
	margin-left:auto;
	margin-right:auto;
	display: block;
}

h1, h2, h3, h4, h5, .fugaz {
  font-family: "Fugaz One", cursive;
}

.montserrat {
  font-family: "Montserrat";
}

a {
  transition: background-color .5s ease-out;
}

a:hover {
  background-color: aliceblue;
  transition: background-color .5s ease-in;
}

/* Header and Footer Styles */
nav, footer {
  background-color: rgba(123, 175, 212, 0.94) !important;
}

.nav-link > a:hover {
  color: rgba(245, 212, 101, 0.96) !important;
  transition: color .5s ease-in;
}

.nav-link > a {
  font-family: "Montserrat", sans-serif;
}

#myName {
  font-family: 'Fugaz One', cursive;
  color: rgba(245, 212, 101, 0.96) !important;
  font-size: 28px;
  opacity: 0;
  transition: opacity 1s ease-out;
}

.show-name {
  opacity: 1 !important;
  transition: opacity 1s ease-in;
}

.right-nav {
  padding-right:50px;
}

.page-footer {
  margin-top: 0px !important;
}
/* End Header, Footer styles */

.page-wrapper {
  min-height: 500px;
  opacity: 0;
}

.link-element .card:hover {
  background-color: rgba(255, 255, 255, 0.88) !important;
  transition: background-color .5s ease-in, box-shadow .5s;
}

.link-element, .popout-element {
  opacity: 0;
}

.show-container {
  opacity: 1 !important;
  transition: opacity .7s ease-in;
}
